body {
    background-image: url('welcome.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    margin: 100px auto;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #000;
}

p {
    font-size: 24px;
    margin-bottom: 50px;
    color: #000;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #00000086;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 100%;
}

input {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    width: 97%;
    border-radius: 5px;
    color: white;
}

select {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: rgb(229, 194, 0);
}

input:focus {
    background-color: #fff;
    color: #292929;
}

button {
    padding: 10px 20px;
    background-color: pink;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s linear;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 108, 133);
}